/**
 * !important classes
 * Single purpose classes, !important to make sure they take effect.
 */

.u-pull-left {
	float: left !important;
}

.u-pull-right {
	float: right !important;
}

.u-hide {
	display: none !important;
}

.u-align-center {
	text-align: center !important;
}
