/**
 * Menu toggle button - for mobile layouts
 */

.menu-toggle {
	display: none;
	width: 100%;

	padding: 10px 0;
	border: none;
	outline: none;

	text-align: center;

	@include respond(600) {
		display: block;
	}
}
