// Configuration
// Global project variables
// No classes or CSS logic should be added here.

$jacket: "main" !default;


// Colour Scheme
// Using 2-step colour system, define base colours and then apply to parts of the interface
$light-blue: #E3F2FD;
$purple: #639;

$grey: rgb(65,65,65);
$mid-grey: #888;
$mid-grey: #a2b1b9;
$light-grey: #ccc;
$lightest-grey: #e8e8e8;
$red: red;

// Brands
$brand-facebook-color: #3b5998;
$brand-twitter-color: #1da1f2;
$brand-rss-color: #f26522;

// Interface
$body-background: $light-blue;
$header-background: $purple;
$tooltip-background: $grey;
$thumbnail-placeholder-background: $light-grey;

$border-color: $lightest-grey;

$text-color: $grey;
$text-deemphasised-color: $mid-grey;
$error-text-color: $red;

$link-color: $purple;
$button-background: $purple;
$focus-ring-color: $purple;


// Typography
  // Font Families
	$sans-serif-fallback: "Avenir Next", "AvenirNext-SemiBold", "Futura", "Roboto", "Droid Sans", "Ubuntu", "Liberation Sans", "Trebuchet MS", "Helvetica Neue" Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;

  $body-stack: #{$sans-serif-fallback};
	$body-stack-lazyloaded: "PT Sans", #{$sans-serif-fallback};
  $heading-stack: #{$sans-serif-fallback};

// Layout
$container-max-width: 73.125rem;
$container-narrow-max-width: 46rem;

$feed-item-padding: .8em;

// Breakpoints
$em-pixel: .0625rem;
$feed-show-image-breakpoint: 37.5rem;
