/**
 * Configuration
 * Global project variables
 * No classes or CSS logic should be added here.
 */


/**
 * Colour Scheme
 * Using 2-step colour system, define base colours and then apply to parts of the interface
 */
$light-blue: cadetblue;

// Interface
$body-background: $light-blue;


/**
 * Typography
 */
  /**
   * Font Families
   * You can remove either fallback as necessary.
   */
	$sans-serif-fallback: "Soleil", "Avenir Next", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Droid Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
	$serif-fallback: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

	$body-stack: #{$sans-serif-fallback};
	$heading-stack: #{$serif-fallback};

  /**
   * Font Sizes
   */
	$size-samll-print: .9em;
	$size-titles: 1.3em;
