/**
 * Configuration
 * Global project variables
 * No classes or CSS logic should be added here.
 */


/**
 * Colour Scheme
 * Using 2-step colour system, define base colours and then apply to parts of the interface
 */
$light-blue: #E3F2FD;
// $golden-orange: #E87E04;
$purple: #639;

$grey: rgb(65,65,65);
$mid-grey: #888;
$mid-grey: #a2b1b9;
$light-grey: #ccc;
$lightest-grey: #e8e8e8;

// Brands
$brand-facebook-color: #3b5998;
$brand-twitter-color: #1da1f2;

// Interface
$body-background: $light-blue;
$header-background: $purple;
$tooltip-background: $grey;
$thumbnail-placeholder-background: $light-grey;

$border-color: $lightest-grey;

$text-color: $grey;
$text-deemphasised-color: $mid-grey;

$link-color: $purple;
$button-background: $purple;
$focus-ring-color: $purple;


/**
 * Typography
 */
  /**
   * Font Families
   * You can remove either fallback as necessary.
   */
	$sans-serif-fallback: "Avenir Next", "AvenirNext-SemiBold", "Droid Sans", "Trebuchet MS", "Helvetica Neue" Helvetica, Arial, sans-serif;
	$serif-fallback: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

  $body-stack: #{$sans-serif-fallback};
	$body-stack-lazyloaded: "Source Sans Pro", #{$sans-serif-fallback};
  $heading-stack: #{$serif-fallback};
	$heading-stack: "Source Serif Pro", #{$serif-fallback};

/**
 * Layout
 */
$container-max-width: 70em;

/**
 * Breakpoints
 */
$em-pixel: .0625em;
$feed-item-grid-breakpoint: 63.5em;

