/**
 * Basic form stucture, e.g. spacing, layout etc
 * Should not include styling for a specific style of form. Create a new partial for these instead.
 */

.form {
	display: block;
	width: 100%;
}

// Wrappers for a label & input
.form__group {
	margin-top: spacing(1);
	margin-bottom: spacing(1);
}
.form__group--as { // For wrapping anti spam honeypot fields
	position: absolute;
	left: -9999px;
}

// Labels, layout above the inputs
.form__label {
	display: block;
	width: 100%;
	max-width: 100%;

	margin-bottom: 5px;
}

// A description included alongside the label text
.form__label-description {
	display: inline-block;
	margin-left: spacing();

	font-size: size( small );
}

// Inputs: input & textarea
.form__input {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 300px; // textarea specific

	padding: 5px;
	border: 1px solid rgb(185,185,185); 
	border-top-color: rgb(160,160,160); // Slight depth effect

	&.has-error { // Error state
		border-color: color( error );
		outline-color: color( error );
	}
}

// Checkbox specific styles
.form__checkbox-wrapper { // Apply this to the <label> element with the <input> as a child element
	display: inline-block;
	margin: 3px 0;
}

.form__checkbox { // Apply this to the <input>. Does not need the .form__input class
	margin-right: 5px;
}

// Messages shown to user, directly underneath inputs
.form__message {
	display: block;
	width: 100%;

	margin: 3px 0 5px;

	&.is-error { // Error state
		color: color( error );
	}
}

// Message shown at top of form as a notice before continuing.
.form__notice {
	display: block;
	width: 100%;

	position: relative;
	z-index: 0;

	padding: spacing() spacing() spacing() spacing(3);
	border-left: 5px solid #4a4a4a;

	background-color: #ccc;

	@include fa( "info-circle", "before" ) {
		position: absolute;
		top: 50%;
		left: spacing();
		z-index: 1;

		margin-top: -.5em;

		font-size: size(medium);
		line-height: 1;
	}

	&.is-error { // Error state
		color: color( error );

		@include fa( "exclamation-triangle", "before" ); // Positioning will be inherited from above
	}
}
