/**
 * Generic form on site.
 * This form uses the base font color and has no background.
 *
 * If you need to create a differently styled form, create a new partial.
 */

.generic-form {

	.form__label,
	.form__input,
	.form__message {
		color: color( grey );
	}

	.form__label-description {
		color: lighten( color( grey ), 10% );
	}

	.form__message.has-error {
		color: color( error );
	}

}
