/**
 * Browser Prefix Mixins
 * Various mixins that add browser prefixes as needed.
 */

/**
 * Box sizing mixin, for natural layout.
 * @param keyword A value accepted by the box-sizing property.
 */
@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

/**
 * Opacity mixin. Applies cross browser opacity rules.
 * @param  integer $percent
 */
@mixin opacity( $percent: 0 ) {
  $decimal: $percent / 100;

  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{ $percent });
  filter: alpha(opacity=#{ $percent });
  -moz-opacity: $decimal;
  -khtml-opacity: $decimal;
  opacity: $decimal; 
}

/**
 * Transform mixin.
 * @param  string $transform Any set of values accepted by the transform property.
 */
@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

/**
 * Subset of the transform mixin. Applies a translate3d() transform specifically.
 * @param  number $x 
 * @param  number $y
 * @param  number $z
 */
@mixin translate3d( $x, $y, $z ) {
  @include transform( translate3d( $x, $y, $z ) );
}

/**
 * Transition mixin.
 * Defaults to transitionon: all properties, for 100 milliseconds, eased in and out, with no delay.
 * @param  property $property:        all         The property to transition.
 * @param  number $duration:        .1s           The duration of the transition.
 * @param  timing-function $timing-function       The easing curve to use.
 * @param  number $delay:           0s            The delay before starting.
 */
@mixin transition($property: all, $duration: 100ms, $timing-function: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}

/**
 * Keyframes mixin.
 * @param  string $animation-name The animation's name.
 */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
