// Grid system

.grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	

	// Allow each grid__item to have it's own margin-top so that wrapping is neat
	margin-top: 0;
	// Create space for first left gutter to sit inside
	margin-left: -1.5em;
}

.grid__item {
	flex: 1 0 auto;

	margin-top: 1.5em;
	padding-left: 1.5em;

	@include respond( 25rem, "max-width" ) {
		min-width: 100%;
		// iOS Bug Fix: Doesn't base flex-basis on min-width, so set both
		flex-basis: 100%;
	}
}
