// Titles

.title {
  font-family: $heading-stack;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
}
.title--primary {
	font-size: 2em;
}
.title--secondary {
	font-size: 1.3em;
}
