// Buttons

.button {
	display: inline-block;
	
	padding: 0.5em 1em;
  border: none;
  border-radius: .2em;
  
  background: $button-background;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
