// Feed items - success state

.feed-item {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;

	flex-basis: 290px;
	max-width: 100%;

  @include respond( 28.125rem - $em-pixel, "max-width" ) {
  	font-size: 1.1em;
  }
}

.feed-item__inner {
	display: flex;
	flex: 1 0 auto;
  flex-direction: column;

	padding: $feed-item-padding;
  border-radius: .2em;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  background-color: #fff;

  text-align: left;

  @include respond( $feed-show-image-breakpoint ) {
		padding-top: 0;
	}
}

.feed-item__title {
	font-size: 1em;
	color: inherit;

	transition: color .1s;

	&:hover,
	&:focus {
		color: $link-color;
	}

	.fonts-loaded & {
		font-size: 1.1em;
	}
}

.feed-item__attribution,
.feed-item__date {
	margin-top: 0;
	color: $text-deemphasised-color;

}
.feed-item__attribution a {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.feed-item__date {
	float: right;
}

.feed-item__excerpt {
  max-width: $container-narrow-max-width;
  
	flex-grow: 1;

	margin-top: 1em;
}

.feed-item__thumbnail {
	display: none;

	margin-top: 0;

	background-color: $thumbnail-placeholder-background;

	@include respond( $feed-show-image-breakpoint ) {
		display: block;
		width: calc( 100% + 1.6em );
		order: -1;

		margin-left: ( 0 - $feed-item-padding );
		margin-bottom: $feed-item-padding;

		border-top-left-radius: .2em;
		border-top-right-radius: .2em;

		overflow: hidden;
	}

	.feed-item__inner--no-image & {
		display: none !important;
	}
}

.feed-item__link {
	display: block;
	margin-top: .5em;
}

.feed-item__footer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid $border-color;
}

.feed-item__share {
	float: left;

	&,
  & a {
  	margin-top: 0;
  }
}
