// Feed items - success state

.feed-items {
	flex-wrap: wrap;

	@include respond( $feed-item-grid-breakpoint ) {
		flex-wrap: nowrap;
  }
}

.feed-item {
	width: 100%;

  position: relative;
  z-index: 0;

  border-radius: .2em;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  background-color: #fff;

  text-align: left;

  @include respond( $feed-item-grid-breakpoint ) {
  	width: auto;
  	flex: 1;
  }

  @include respond( 28.125rem - $em-pixel, "max-width" ) {
  	font-size: 1.1em;
  }
}
.feed-item + .feed-item {
	margin-top: 1.5em;

  @include respond( $feed-item-grid-breakpoint ) {
  	margin-top: 0;
		margin-left: 1.5em;
	}
}

.feed-item a {
	text-decoration: none;
}

.feed-item__inner {
	display: flex;
	height: 100%;

	flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
	
	padding: .8em;

	@include respond-between( 37.5rem, $feed-item-grid-breakpoint - $em-pixel ) {
		padding-right: calc( 1.8em + 20% );

		&.feed-item__inner--no-image {
			padding-right: .8em;
		}
	}

  @include respond( $feed-item-grid-breakpoint ) {
		padding-top: 105px;

		&.feed-item__inner--no-image {
			padding-top: .8em;
		}
	}
}

.feed-item__title {
	font-size: 1em;
	color: inherit;

	transition: color .1s;

	&:hover,
	&:focus {
		color: $link-color;
	}

	.fonts-loaded & {
		font-size: 1.1em;
	}
}

.feed-item__attribution {
	margin-top: 0;
	color: $text-deemphasised-color;

	a {
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.feed-item__excerpt {
  max-width: 46em;
  
	flex-grow: 1;

	margin-top: 1em;
}

.feed-item__thumbnail {
	display: none;

	margin-top: 0;

	background-color: $thumbnail-placeholder-background;

	@include respond( 37.5rem ) {
		display: block;
		width: 20%;
		height: 0;

		position: absolute;
		top: .8em;
		right: .8em;
		z-index: 1;

		padding-bottom: 20% * 0.5625;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	@include respond( $feed-item-grid-breakpoint ) {
		width: 100%;
		height: 95px;
		min-height: 0;

		top: 0;
		right: 0;

		border-top-left-radius: .2em;
		border-top-right-radius: .2em;

		overflow: hidden;
	}

	.feed-item__inner--no-image & {
		display: none !important;
	}
}

.feed-item__link {
	margin-top: .5em;

	@include respond( 37.5rem ) {
		width: 1px; 
	  height: 1px; 
	  
	  position: absolute !important;
	  
	  overflow: hidden; 
		clip: rect(1px, 1px, 1px, 1px); 
	}
}

.feed-item__footer {
	width: 100%;

	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid $border-color;
}

.feed-item__share {
	&,
  & a {
  	margin-top: 0;
  }
}
