// Search form

.search-form {
	display: inline-block;
  max-width: 100%;

	position: relative;
	z-index: 0;

	padding: .2em 6.5em .2em 0.7em;
	border-radius: .2em;

	background-color: #fff;

  @include respond( 25rem, "max-width" ) {
    padding-right: .7em;
  }
}

.search-form__icon {
	width: 1.2em;
	height: 1.2em;

  position: relative;
  top: 0.25em;
  
  margin-right: 0.3em;

	fill: $text-color;
}

.search-form__input {
	padding: .5em;
	border: none;
  outline-color: $focus-ring-color;
}

.search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  
  padding: 0 0.8em;
  border: none;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $button-background;
  color: #fff;

  @include respond( 25rem, "max-width" ) {
    display: none;
  }
}
