// Search form

.search-form {
	display: inline-block;
  max-width: 100%;

	position: relative;
	z-index: 0;

	padding: 0 6.5em 0 0.7em;
	border-radius: .2em;

	background-color: #fff;

  @include respond( 25rem, "max-width" ) {
    width: 100%;
    padding-right: .7em;
  }
}
.search-form + p {
  margin-top: 1em;
}

.search-form * {
  margin-top: 0;
}

.search-form__icon {
	width: 1.2em;
	height: 1.2em;

  position: relative;
  top: 0.25em;
  
  margin-right: 0.3em;

	fill: $text-color;
}

.search-form__input {
	padding: .7em;
	border: none;

  @include respond( 25rem, "max-width" ) {
    width: calc( 100% - 1.8em );
  }

  @include respond( 40em ) {
    min-width: 250px;
  }
}

.search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  
  padding: 0 0.8em;
  border: none;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $button-background;
  color: #fff;

  transition: background-color .1s;

  @include respond( 25rem, "max-width" ) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: lighten( $button-background, 10% );
  }
}
