// Site Name, in header

.site-name {
  display: inline-block;
  
  margin: 0;

  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
	font-size: 1em;

	@include respond( 25rem ) {
		letter-spacing: .2em;
	}
}
