// Tag cloud

.tags {
	max-width: $container-narrow-max-width;
	margin: 0 auto;

	.grid {
		margin-left: -1em;
	}
}

.tag {
	padding-left: 1em;

	@include respond( 25rem, "max-width" ) {
		margin-top: 1em;
	}
}

.tag__inner {
	@include material-box-shadow(1);

	display: block;
	
	padding: .8em 1.6em; 
	border-radius: .2em;
	outline-color: $focus-ring-color;

	color: inherit;
	background-color: #fff;

	transition: background-color .1s;

	&:hover,
	&:focus {
		background-color: #f7f7f7;
	}
}

.tag__icon {
	width: 1em;
	height: 1em;

	position: relative;
	top: 2px;

	margin-right: .3em;

	line-height: 1;

	fill: lighten( $text-color, 5% );
}
